@import '~@angular/material/theming';

$white: #ffffff;
$black: #000000;

$base-text-color: $black;
$invert-text-color: $white;

/*
  Palete colors set up for stackability and are ranked in priority from 0-4
  0 is the primary color for each section, 4 should be the most rarely used if used at all
*/

//background
$bg-0: rgb(245, 245, 245); //main body
$bg-1: rgb(255, 255, 255); //first layer base controls (cards, grids, etc.)
$bg-2: rgb(190, 190, 190);
$bg-3: rgb(216, 216, 216);
$bg-4: rgb(196, 196, 196);

//foreground
$fg-0: rgb( 35, 31, 32); //web:sidenav, mobile: header
$fg-1: rgb( 143, 126, 130);
$fg-2: rgb( 94, 83, 86);
$fg-3: rgb( 28, 18, 20);
$fg-4: rgb( 29, 12, 16);

//primary accents
$ac-primary-0: rgb(111, 1, 1); //main primary action link
$ac-primary-1: rgb(148, 56, 56);
$ac-primary-2: rgb(149, 24, 24);
$ac-primary-3: rgb(73, 0, 0);
$ac-primary-4: rgb(38, 0, 0);

//attention accents
$ac-attention-0: rgb(13, 31, 70); //main accent color and attenion color
$ac-attention-1: rgb(60, 81, 126);
$ac-attention-2: rgb(32, 53, 98);
$ac-attention-3: rgb(4, 17, 45);
$ac-attention-4: rgb(1, 8, 23);

//success accents
$ac-success-0: rgb(51, 51, 153);
$ac-success-1: rgb(114, 114, 192);
$ac-success-2: rgb(76, 76, 167);
$ac-success-3: rgb(76, 76, 167);
$ac-success-4: rgb(15, 15, 99);


//error accents
$ac-error-0: rgb(255, 33, 33);
$ac-error-1: rgb(255, 141, 141);
$ac-error-2: rgb(255, 48, 48);
$ac-error-3: rgb(255, 0, 0);
$ac-error-4: rgb(255, 0, 0);

//material themeing
$mat-primary: (
  50:   $ac-primary-0,
  100:  $ac-primary-1,
  200:  $ac-primary-2,
  300:  $ac-primary-3,
  400:  $ac-primary-4,
  contrast: (
    50: $invert-text-color,
    100: $invert-text-color,
    200: $invert-text-color,
    300: $invert-text-color,
    400: $invert-text-color,
  )
);

$mat-accent: (
  50:   $ac-attention-0,
  100:  $ac-attention-1,
  200:  $ac-attention-2,
  300:  $ac-attention-3,
  400:  $ac-attention-4,
  contrast: (
    50: $invert-text-color,
    100: $invert-text-color,
    200: $invert-text-color,
    300: $invert-text-color,
    400: $invert-text-color,
  )
);

$mat-error: (
  50:   $ac-error-0,
  100:  $ac-error-1,
  200:  $ac-error-2,
  300:  $ac-error-3,
  400:  $ac-error-4,
  contrast: (
    50: $invert-text-color,
    100: $base-text-color,
    200: $invert-text-color,
    300: $invert-text-color,
    400: $invert-text-color,
  )
);

@include mat-core();
$mat-theme-primary: mat-palette($mat-primary, 50, 300, 400);
$mat-theme-accent: mat-palette($mat-accent, 50, 200, 300);
$mat-theme-error: mat-palette($mat-error);
$pilot-app-light-theme: mat-light-theme($mat-theme-primary, $mat-theme-accent, $mat-theme-error);
@include angular-material-theme($pilot-app-light-theme);
