html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.w-100 {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1740px;
  }
}

.text-right {
  text-align: right;
}

.mat-simple-snackbar span {
  margin: auto;
  text-align: center;
}
