<mat-form-field>
  <mat-label>Status</mat-label>
  <mat-select multiple [(ngModel)]="selectedStatusTypes">
    <mat-option
      *ngFor="let requestStatus of requestStatus | enumToArray"
      [value]="requestStatus.index"
    >
      {{ requestStatus.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<ng-container *ngIf="!managerView; else managerViewGrid">
  <ng-container *ngFor="let requestGroup of shownRequests">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="airplane"
            >airplanemode_active</mat-icon
          >
        </div>
        <div class="request-date">
          <div class="value">
            Week of {{ requestGroup.requests[0].date | date }}
          </div>
          <div class="label">{{ requestTypes[requestGroup.type] | spaced }}</div>
        </div>
        <div class="date-requested">
          <div class="label">Date Requested</div>
          <div class="value">
            {{ requestGroup.dateRequested | date: "fullDate" }}
          </div>
        </div>
        <div class="manager">
          <div class="label">Manager</div>
          <div class="value">{{ requestGroup.managerId }}</div>
        </div>
        <div class="hours">
          <div class="value">{{ calculateRequestTotalHours(requestGroup) }} hours</div>
        </div>
        <div class="status">
          <div class="value">{{ requestStatus[requestGroup.status] | lowercase }}</div>
        </div>
      </mat-expansion-panel-header>
      <app-request-preview [requestGroup]="requestGroup"></app-request-preview>
    </mat-expansion-panel>
  </ng-container>
</ng-container>
<ng-template #managerViewGrid>
  <ng-container *ngFor="let requestGroup of shownRequests">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="airplane"
            >priority_high</mat-icon
          >
        </div>
        <div class="request-date">
          <div class="value">
            {{ requestGroup.userId }}
          </div>
          <div class="label">{{ requestGroup.user.firstName }} {{requestGroup.user.lastName}}</div>
        </div>
        <div class="date-requested">
          <div class="label">Requested Days</div>
          <div class="value">
            {{ calculateRequestedDate(requestGroup) }}
          </div>
        </div>
        <div class="hours">
          <div class="value">{{ calculateRequestTotalHours(requestGroup) }} hours</div>
        </div>
        <div class="request-date">
          <div class="value">
            {{ requestStatus[requestGroup.status] | lowercase }}
          </div>
          <div class="label">{{ requestTypes[requestGroup.type] | spaced }}</div>
        </div>
      </mat-expansion-panel-header>
      <app-request-preview
        [requestGroup]="requestGroup"
        [managerView]="true"
      ></app-request-preview>
    </mat-expansion-panel>
  </ng-container>
</ng-template>
