.mat-expansion-panel {
  margin-bottom: 2rem !important;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.mat-expansion-panel-header {
  font-size: 1.3rem;
  font-weight: 100;
}

.mat-expansion-panel-header > span {
  margin-right: 100px;
  justify-content: space-between !important;
  align-items: center;
}

.icon {
  .mat-icon {
    font-size: 2em;
    color: #ddd;
  }
}

.request-date {
  .label {
    font-weight: 700;
    font-size: 0.6em;
  }
  .value {
    color: #888;
  }
}

.date-requested {
  .label {
    font-size: 0.6em;
    color: #777;
  }
  .value {
    font-size: 0.7em;
  }
}

.manager {
  .label {
    font-size: 0.6em;
    color: #777;
  }
  .value {
    font-size: 0.7em;
    color: #aaa;
  }
}
.hours {
  .value {
    color: #999;
    font-size: 1.2em;
    font-weight: 500;
  }
}
.status {
  .value {
    font-size: 0.9em;
  }
}
