<div class="home" *ngIf="user">
  <div class="header">
    <div class="header-content">
      <div>
        <h2>Welcome, {{user.firstName}}</h2>
        <h4>Manager: {{user.manager.firstName}} {{user.manager.lastName}}</h4>
      </div>
      <div class="submit-request">
        <a mat-raised-button href="/request" color="primary">Submit Request</a>
      </div>
    </div>
    <hr />
  </div>
  <div>
    <app-request-grid [requestGroups]="user.requestGroups"  *ngIf="user.requestGroups"></app-request-grid>
  </div>
</div>
