<div class="request-days-container">
  <div *ngFor="let request of sortedRequests">
    <mat-form-field class="request-day">
      <input
        matInput
        placeholder="{{ request.date | date: 'fullDate' }}"
        disabled
        [value]="request.hours"
      />
    </mat-form-field>
  </div>
</div>

<div *ngIf="managerView" class="status-form">
  <form [formGroup]="form" class="managerView" (ngSubmit)="onSubmit()">
    <div class="status-dropdown">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option
            *ngFor="let requestStatus of requestStatuses | enumToArray"
            [value]="requestStatus.index"
          >
            {{ requestStatus.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Update Status</button>
  </form>
</div>
