.footer {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

p {
  margin: 0;
  font-size: 0.7rem;
  color: #aaaaaa
}
